:root {
  --main-green-color: #1bbc9c;
  --main-white-color: white;
  --navbar-gray-color: #6c757e;
  --dark-line-color: #2d3e50;
  --btn-hover-color: hsl(168, 75%, 32%);
  --main-focus-ring-color: rgba(27, 188, 156, 0.65);
  --web-link-color: #2e3e51;
  --main-footer-color: #1a252f;
  --badge-background-color: rgba(255, 255, 255, 0.5);
  --courses-background-color: #4c8b95;
}
.nav-link:hover {
  color: var(--main-green-color) !important;
}
.line-horisontal-white {
  width: 4.5rem;
  height: 2px;
  background-color: var(--main-white-color);
  border: 1px solid var(--main-white-color);
  border-radius: 2px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.line-horisontal-dark {
  width: 5rem;
  height: 2px;
  background-color: var(--dark-line-color);
  border: 1px solid var(--dark-line-color);
  border-radius: 2px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--main-green-color);
  border-radius: 7px;
}
.symbol {
  position: absolute;
  color: var(--main-white-color);
  font-size: 4rem;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.portfolio-btn:hover .overlay {
  opacity: 0.8;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--main-green-color);
}
.carousel:hover .portfolio-overlay {
  opacity: 0.8;
}
.carousel:hover {
  transition: 0.5s ease;
  scale: 0.9;
}
.btn-secondary {
  background-color: var(--main-green-color);
  border: none;
  border-radius: 3px;
}
.btn-secondary:hover {
  background-color: var(--btn-hover-color);
}
.form-container .focus-ring {
  --bs-focus-ring-color: var(--main-focus-ring-color);
}
.web-link {
  color: var(--main-white-color);
  text-decoration: none;
  align-content: center;
  display: inline-block;
  border: 1px solid var(--main-white-color);
  border-radius: 3px;
  width: 40px;
  height: 32px;
}
.web-link:hover {
  color: var(--web-link-color);
  background-color: var(--main-white-color);
}
.offer-text {
  font-size: 0.7rem;
}
.rounded-circle {
  max-width: 5rem;
}
.course-btn:hover {
  background-color: var(--main-green-color);
}
@media (min-width: 992px) {
  #about_text {
    width: 50vw;
  }
  .form-container {
    width: 50vw;
  }
}
