.nav-link:hover {
  color: #1bbc9c !important;
}
.line-horisontal-white {
  width: 4.5rem;
  height: 2px;
  background-color: white;
  border: 1px solid white;
  border-radius: 2px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.line-horisontal-dark {
  width: 5rem;
  height: 2px;
  background-color: #2d3e50;
  border: 1px solid #2d3e50;
  border-radius: 2px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #1bbc9c;
  border-radius: 7px;
}
.symbol {
  position: absolute;
  color: white;
  font-size: 4rem;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.portfolio-btn:hover .overlay {
  opacity: 0.8;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #1bbc9c;
}
.carousel:hover .portfolio-overlay {
  opacity: 0.8;
}
.carousel:hover {
  transition: 0.5s ease;
  scale: 0.9;
}
.btn-secondary {
  background-color: #1bbc9c;
  border: none;
  border-radius: 3px;
}
.btn-secondary:hover {
  background-color: hsl(168, 75%, 32%);
}
.form-container .focus-ring {
  --bs-focus-ring-color: rgba(27, 188, 156, 0.65);
}
.web-link {
  color: white;
  text-decoration: none;
  align-content: center;
  display: inline-block;
  border: 1px solid white;
  border-radius: 3px;
  width: 40px;
  height: 32px;
}
.web-link:hover {
  color: #2e3e51;
  background-color: white;
}
.offer-text {
  font-size: 0.7rem;
}
.rounded-circle {
  max-width: 5rem;
}

@media (min-width: 992px) {
  #about_text {
    width: 50vw;
  }
  .form-container {
    width: 50vw;
  }
}
